%footer
  .colombia-flag-bar
  %section.contacts.container
    .details
      %p Nohemi Gualteros
      %p coordinator@worldemeraldsymposium.com
      %p PBX: (+57) 300 556 6195
      %p Bogot&aacute; - Colombia
    .right-separator
    .aditional-contacts
      %ul
        %li
          Mauricio Var&oacute;n
          %span.device-logo= image_tag("mobile-icon.svg", width: "20")
          (+57) 315 396 9145
        %li
          Gabriel Angarita
          %span.device-logo= image_tag("whatsapp-icon.svg", width: "25")
          (+57) 310 234 6371
  %section.organizers.container
    %ul
      %li= image_tag "fedesmeraldas_logo.png"
      %li= image_tag "acodes_logo.png"
      %li= image_tag "asocoesmeral_logo.png"
      %li= image_tag "aprecol_logo.png"
      %li= image_tag "anm_logo.png"
      %li= image_tag "minminas_logo.png"
      %li= image_tag "sena_logo.png"
  %small
    Copyright &copy; 2015 - Fedesmeraldas - 1
    %sup= t(:super_first)
    = t(:copyright)
    , Colombia 2015
%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
:javascript
  window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery-1.11.2.min.js"><\/script>')
= javascript_include_tag "plugins"
= javascript_include_tag "main"
:javascript
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-62985302-1','auto');ga('send','pageview');

