/ Header
%header.container
  .logo
    %img{src: "/assets/images/wht_logo_#{I18n.locale.to_s}.png"}
  %nav
    %ul
      %li
        = localized_link_to 'home', 'home', class: "speech-bubble mid-bottom right-triangle"
      %li
        = localized_link_to 'symposium', 'symposium', class: "speech-bubble mid-bottom right-triangle"
      %li
        = localized_link_to 'schedule', 'schedule', class: "speech-bubble mid-bottom right-triangle"
      %li
        = localized_link_to 'registration', 'registration', class: "speech-bubble mid-bottom right-triangle"
      %li
        = localized_link_to 'recommended', 'recommended-hotels', class: "speech-bubble mid-bottom right-triangle"
      %li
        = localized_link_to 'contact', 'contact', class: "speech-bubble mid-bottom right-triangle"

