---
title: "1st International Emerald Symposium"
layout: layout
---
%main.contact.container
  %section
    = image_tag("be_change_logo_#{I18n.locale.to_s}.png")
  %h1= t(:sponsored)
  %section.sponsors.container
    = image_tag "fedesmeraldas_logo.png"
    = image_tag "acodes_logo.png"
    = image_tag "asocoesmeral_logo.png"
    = image_tag "aprecol_logo.png"
    = image_tag "anm_logo.png"
    = image_tag "minminas_logo.png"
    = image_tag "sena_logo.png"
  .colombia-flag-bar.centered
  %section.container
    .details
      %p Nohemi Gualteros
      %p coordinator@worldemeraldsymposium.com
      %p PBX: (+57) 300 556 6195
      %p Bogot&aacute; - Colombia
    .right-separator
    .aditional-contacts
      %ul
        %li
          Mauricio Var&oacute;n
          %span.device-logo= image_tag("mobile-icon.svg", width: "30")
          (+57) 315 396 9145
        %li
          Gabriel Angarita
          %span.device-logo= image_tag("whatsapp-icon.svg")
          (+57) 310 234 6371
  %footer
