---
title: "1st International Emerald Symposium"
layout: layout
---
%main
  %section.hero-slider
    = image_tag "lanceros.jpg", width: "100%", class: "photo"
    = image_tag "cartagena.jpg", width: "100%", class: "photo"
    = image_tag "tota.jpg", width: "100%", class: "photo"
    = image_tag "canocristales.jpg", width: "100%", class: "photo"
    %h1.tagline= t(:tagline)
  %section.mission-statement.container
    %aside
      = image_tag "full_be_change_logo.png"
    %article
      %h2= t(:project_description_title)
      .highlight
        = t(:project_description)
      %h2=  t(:why_title)
      %p.highlight
        =  t(:why_project)
      %h2 Finalidad del Simposio
      %p.highlight
        Ser pioneros y liderar un evento internacional, construyendo conjuntamente conocimientos y |
        experiencias innovadoras, en torno a la investigaci&oacute;n, avances, desarrollo, y       |
        ejecuci&oacute;n de los procesos inherentes a la industria mundial de la esmeralda.        |
  %section.why-attend.container
    .title
      %h1 Razones para asistir al Simposio
    %ul.left-reasons
      %li.highlight.speech-bubble
        Contar con un amplio portafolio acad&eacute;mico con conferencistas internacionales |
        conocedores del tema y donde participan expertos nacionales de alto nivel.          |
      %li.highlight.speech-bubble
        Concentraci&oacute;n del sector objetivo en un solo lugar.
      %li.highlight.speech-bubble
        Por ser el primer simposio de este genero que se realiza a nivel mundial.
      %li.highlight.speech-bubble
        Intercambio de experiencias con los profesionales m&aacute;s destacados del sector.
      %li.highlight.speech-bubble
        Estar en contacto con p&uacute;blico especializado y conocedor del tema, para replicar |
        en sus proyectos.                                                                      |
      %li.highlight.speech-bubble
        Brindar excelentes oportunidades de negocios en el sector de la esmeralda.
    %ul.right-reasons
      %li.highlight.speech-bubble
        Para conocer los productos y servicios de los proveedores m&aacute;s calificados |
        del mercado en Colombia.                                                         |
      %li.highlight.speech-bubble
        Para conformar una comunidad a niver internacional que adopte un modelo de vida |
        en negociaci&oacute;n y comercializaci&oacute;n de piedras preciosas.           |
      %li.highlight.speech-bubble
        Para estar actualizado e interactuar con los expertos nacionales e internacionales |
        para conocer el comportamiento y tendencias del mercado.                           |
      %li.highlight.speech-bubble
        Es una plataforma de innovaci&oacute;n, donde el aprendizaje siempre est&aacute; |
        unido a la pr&aacute;ctica.                                                      |
      %li.highlight.speech-bubble
        Oportunidad de capacitar, ense&ntilde;ar y difundir modelos exitosos aplicados |
        al sector.                                                                     |
      %li.highlight.speech-bubble
        Registro sistematizado para compradores y visitantes.
