---
title: "1st International Emerald Symposium"
layout: layout
---
%main
  .recommended
    %nav
      %ul
        %li
          = localized_link_to "hotels_title", "recommended-hotels"
        %li
          = t(:plans_title)
  %article
    .plan
      %aside
        = image_tag "#{lorem.image('500x200', random_color: true)}"
      %section
        %h1 Tour por las minas de esmeraldas
        %p Dolor nostrum vitae provident minima quo alias, accusantium veniam reprehenderit minima? Quo veniam minima nobis accusantium omnis. Esse accusantium voluptatibus architecto recusandae adipisci enim error minus inventore iure? Laborum at quas unde non temporibus, nam totam quo aperiam aspernatur unde. Incidunt voluptates atque error quae dolorum, blanditiis ullam quibusdam vitae eveniet distinctio odit consequatur natus nemo rerum hic. Fugit rerum!
    .plan
      %aside
        = image_tag "#{lorem.image('500x200', random_color: true)}"
      %section
        %h1 Tour por la zona hist&oacute;rica de Bogot&aacute;
        %p Dolor quo ratione possimus laborum obcaecati totam libero consequatur alias. Animi nam rerum eos iusto cupiditate natus neque sapiente, dolorem eius optio. Consectetur placeat corporis rerum delectus laborum rem porro. Odio fugiat quisquam fugit id voluptatem quisquam sequi? Odit dolor autem corporis itaque tempora, odit autem, quidem ipsum libero, ullam?
