---
title: "1st International Emerald Symposium"
layout: layout
---
%main
  .recommended
    %nav
      %ul
        %li HOTELES
        %li
          = link_to "PLANES", "/recommended-plans"
    %h6 Esta recomendaci&oacute;n de hoteles se realiz&oacute; con base en la |
    cercan&iacute;a con el lugar del evento (Hotel Sheraton Bogot&aacute;)       |
    %h6
      %sup*
      Si desea ver m&aacute;s opciones de hoteles le recomendamos buscar por la Calle 26
  %article
    .container
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %small Hosting del Simposio
          %h4 Hotel Sheraton Bogot&aacute;
          %p Calle 25 B No. 69 C - 80
          %br
          %p Tel. (091) 000 0000
          = link_to "www.sheratonbog.com", "http://www.sheratonbog.com"
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %h4 Hotel Wyndham Art
          %p Calle 00 No. 00 - 00
          %br
          %p Tel. (091) 000 0000
          = link_to "www.wyndham.com", "http://www.wyndham.com"
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %h4 Hotel GHL Bogot&aacute;
          %p Calle 00 No. 00 - 00
          %br
          %p Tel. (091) 000 0000
          = link_to "www.ghlbogota.com", "http://www.ghlbogota.com"
    .container
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %h4 Hotel Holiday Inn 26
          %p Calle 00 No. 00 - 00
          %br
          %p Tel. (091) 000 0000
          = link_to "holidayinnbog.com", "http://www.holidayinnbog.com"
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %h4 Hotel Marriott Bogot&aacute;
          %p Calle 00 No. 00 - 00
          %br
          %p Tel. (091) 000 0000
          = link_to  "www.marriottbog.com", "http://www.marriottbog.com"
      .hotel
        %aside
          = image_tag "#{lorem.image('200x200', random_color: true)}"
        %section
          %h4 Hotel Movich Bogot&aacute;
          %p Calle 00 No. 00 - 00
          %br
          %p Tel. (091) 000 0000
          = link_to "www.movichbog.com", "http://www.movichbog.com"
