---
title: "1st International Emerald Symposium"
layout: layout
---
%main
  %section.tracks
    %h1= t(:tracks)
    .container
      %h2.speech-bubble.right-bottom.left-triangle Calidad
      %h2.active.speech-bubble.left-bottom.right-triangle Promoción
    .container
      %h2.active.speech-bubble.left-bottom.left-triangle Trazabilidad
      %h2.speech-bubble.right-bottom.right-triangle Bienestar
  %section.speakers
    %h1= t(:speakers)
    .container
      .speaker.speech-bubble.right-bottom.left-triangle
        %h3 Natalia Guti&eacute;rrez J.
        %h4 Directora de la Agencia Nacional de Minería
        %h5= t(:keynote_slot)
      .speaker.active.speech-bubble.left-bottom.right-triangle
        %h3 Tomas Gonz&aacute;lez E.
        %h4 Ministro de Minas y Energ&iacute;a
        %h5= t(:keynote_slot)
    .container
      .speaker.speech-bubble.right-bottom.left-triangle
        %h3 Mar&iacute;a Isabel Ulloa
        %h4 Vice Ministra de Minas
        %h5= t(:keynote_slot)
      .speaker.active.speech-bubble.left-bottom.right-triangle
        %h3 Manuel Rodr&iacute;guez
        %h4 Direcci&oacute;n de Reforma Minera
        %h5= t(:keynote_slot)
      .speaker.speech-bubble.right-bottom.left-triangle
        %h3 Luis Gabriel Angarita
        %h4 Presidente Acodes
        %h5= t(:keynote_slot)
    .container
      .speaker.active.speech-bubble.left-bottom.left-triangle
        %h3 Oscar Baquero
        %h4 Presidente de Fedesmeraldas
        %h5= t(:keynote_slot)
      .speaker.speech-bubble.right-bottom.right-triangle
        %h3 Carlos Julio Cede&ntilde;o
        %h4 Director del Centro de Desarrollo Tecnol&oacute;gico de la Esmeralda Colombiana
        %h5= t(:keynote_slot)
