---
title: "1st International Emerald Symposium"
layout: layout
---
%main
  %section.tracks
    %h1= t(:tracks)
    %ul.track-links.container
      %li
        = link_to "javascript:void(0)", id: "js-quality-trigger", class: "expander-trigger" do
          %h2.speech-bubble.right-bottom.left-triangle Quality
      %li
        = link_to "javascript:void(0)", id: "js-promotion-trigger", class: "expander-trigger" do
          %h2.active.speech-bubble.left-bottom.right-triangle Promotion
      %li
        = link_to "javascript:void(0)", id: "js-traceability-trigger", class: "expander-trigger" do
          %h2.active.speech-bubble.left-bottom.left-triangle Traceability
      %li
        = link_to "javascript:void(0)", id: "js-wellbeing-trigger", class: "expander-trigger" do
          %h2.speech-bubble.right-bottom.right-triangle Well-being
    %ul.track-content
      %li.expander-content.expander-hidden#js-quality-content
        %p Today&rsquo;s consumer expects quality in a luxury product.          |
          Being able to provide consumers with the kind of quality they expect, |
          requires the interaction and collaboration of gemological             |
          laboratories, researchers, miners, cutters, and gem dealers.          |
          This collaboration will achieve transparency in the business,         |
          and an educated consumer that understands what he or she is buying.   |
        %p
          %h4 Topics
          %ul
            %li Origin
            %li Precision cutting techniques
            %li Harmonization of Emerald reports
      %li.expander-content.expander-hidden#js-promotion-content
        %p Emeralds lack programs that motivate consumers to buy. Knowledge |
          about emeralds is poor among the average consumer, and new icons  |
          of status have risen to take the place jewelry used to have       |
          recently. What&rsquo;s the best way to promote and motivate       |
          consumers to purchase emeralds&quest;                            |
        %p
          %h4 Topics
          %ul
            %li Branding strategies to promote sales
            %li Education
            %li Marketing
            %li Emerald jewelry trends and consumer preferences.
      %li.expander-content.expander-hidden#js-traceability-content
        %p It&rsquo;s not enough to deliver a quality product, to educate      |
          and promote consumer awareness, to benefit mining communities        |
          and the environment, and to avoid funding crime. In today&rsquo;s    |
          market, it&rsquo;s necessary to find a way to guarantee that the     |
          product the consumer is purchasing, addresses all of these concerns. |
        %p
          %h4 Topics
          %ul
            %li History of processes used in emeralds
            %li Distribution and tracking after sales
      %li.expander-content.expander-hidden#js-wellbeing-content
        %p Consumer&rsquo;s are increasingly concerned that the products they |
          buy meet a range of requirements. From aiding in the benefit and    |
          growth of the communities affected by the business activity, to the |
          proper care of the environment, without leaving aside the  |
          total exclusion of illegal activity funding.                        |
          How to promote a healthy interaction amongst business, community   |
          and environment?. Answering this question will be one of the        |
          objectives of this track.                                           |
        %p
          %h4 Topics
          %ul
            %li Corporate Social Responsibility
            %li Environmental Responsibility
            %li Empowering inhabitants of the mining regions to generate |
              alternative sources of income.                             |

  %section.speakers
    %h1= t(:speakers)
    %ul.accordion-tabs
      %li.tab-header-and-content
        = link_to "October 13", "javascript:void(0)", class: "is-active tab-link"
        .tab-content
          %table.tables
            %thead
              %tr
                %th Time
                %th Track
                %th Speaker
            %tbody
              %tr
                %td 8:00 a.m. -  9:00 a.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 9:00 a.m. -  10:00 a.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 10:00 a.m. -  11:00 a.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 11:00 a.m. -  12:00 a.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 12:00 a.m. -  1:00 p.m.
                %td{colspan: 2} Lunch
              %tr
                %td 1:00 p.m. -  2:00 p.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 3:00 p.m. -  4:00 p.m.
                %td Mining in Colombia
                %td Gabriel Angarita
              %tr
                %td 4:00 p.m. -  5:00 p.m.
                %td Mining in Colombia
                %td Gabriel Angarita
      %li.tab-header-and-content
        = link_to "October 14", "javascript:void(0)", class: "tab-link"
        .tab-content
          %table.tables
            %thead
              %tr
                %th Time
                %th Track
                %th Speaker
            %tbody
              %tr
                %td 8:00 a.m. -  9:00 a.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 9:00 a.m. -  10:00 a.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 10:00 a.m. -  11:00 a.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 11:00 a.m. -  12:00 a.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 12:00 a.m. -  1:00 p.m.
                %td{colspan: 2} Lunch
              %tr
                %td 1:00 p.m. -  2:00 p.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 3:00 p.m. -  4:00 p.m.
                %td Quality
                %td Gabriel Angarita
              %tr
                %td 4:00 p.m. -  5:00 p.m.
                %td Quality
                %td Gabriel Angarita
      %li.tab-header-and-content
        = link_to "October 15", "javascript:void(0)", class: "tab-link"
        .tab-content
          %table.tables
            %thead
              %tr
                %th Time
                %th Track
                %th Speaker
            %tbody
              %tr
                %td 8:00 a.m. -  9:00 a.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 9:00 a.m. -  10:00 a.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 10:00 a.m. -  11:00 a.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 11:00 a.m. -  12:00 a.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 12:00 a.m. -  1:00 p.m.
                %td{colspan: 2} Lunch
              %tr
                %td 1:00 p.m. -  2:00 p.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 3:00 p.m. -  4:00 p.m.
                %td Promotion
                %td Gabriel Angarita
              %tr
                %td 4:00 p.m. -  5:00 p.m.
                %td Promotion
                %td Gabriel Angarita
