---
title: "1st International Emerald Symposium"
layout: layout
---
%section.tracks
  %h1= t(:tracks)
  .container
    %h2.speech-bubble.right-bottom.left-triangle Quality
    %h2.active.speech-bubble.left-bottom.right-triangle Promotion
  .container
    %h2.active.speech-bubble.left-bottom.left-triangle Traceability
    %h2.speech-bubble.right-bottom.right-triangle Well-being
%section.speakers
  %h1= t(:speakers)
  .container
    .speaker.speech-bubble.right-bottom.left-triangle
      %h3 Natalia Guti&eacute;rrez J.
      %h4 National Mining Agency Director
      %h5= t(:keynote_slot)
    .speaker.active.speech-bubble.left-bottom.right-triangle
      %h3 Tomas Gonz&aacute;lez E.
      %h4 Minister of Mining and Energy
      %h5= t(:keynote_slot)
  .container
    .speaker.speech-bubble.right-bottom.left-triangle
      %h3 Mar&iacute;a Isabel Ulloa
      %h4 Vice Minister of Mines
      %h5= t(:keynote_slot)
    .speaker.active.speech-bubble.left-bottom.right-triangle
      %h3 Manuel Rodr&iacute;guez
      %h4 Mining Reform Directorate
      %h5= t(:keynote_slot)
    .speaker.speech-bubble.right-bottom.left-triangle
      %h3 Luis Gabriel Angarita
      %h4 Acodes President
      %h5= t(:keynote_slot)
  .container
    .speaker.active.speech-bubble.left-bottom.left-triangle
      %h3 Oscar Baquero
      %h4 Fedesmeraldas President
      %h5= t(:keynote_slot)
    .speaker.speech-bubble.right-bottom.right-triangle
      %h3 Carlos Julio Cede&ntilde;o
      %h4 Technology Development Center for Colombian Emeralds Director
      %h5= t(:keynote_slot)

